profiles {
    conda {
        conda.enabled          = true
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
    }
    micromamba {
        conda.enabled          = true
        conda.useMicromamba         = true
    }
    juno {
        // singularity {
        //     enabled = true
        //     autoMounts = true
        // }
        process {
            executor = 'lsf'
        }
        executor {
            name = 'lsf'
            perJobMemLimit = true
            queueSize = 25
        }
    }
}
