name: schema-ci

on:
  push:
    branches:
      - "main"
    paths:
      - "missense_kinase_toolkit/schema/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "missense_kinase_toolkit/schema/**"
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.5.10-0'
          environment-file: devtools/conda-envs/test_env.yaml
          environment-name: schema_test
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install package
        shell: bash -l {0}
        run: |
          python -m pip install -e ./missense_kinase_toolkit/schema --no-deps
          micromamba list

      - name: Run tests
        shell: bash -l {0}
        run: |
          set -e
          pytest \
            -v \
            --cov-report=xml \
            --color=yes  \
            --cov=mkt.schema \
            missense_kinase_toolkit/schema/mkt/schema/tests/

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          fail_ci_if_error: false # optional (default = false)
          file: ./coverage.xml
          flags: schema # optional
          name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)
